<div class="flex">
  <div
    class="h-screen flex items-center justify-center md:w-auto max-sm:hidden"
  >
    <img src="/img/ranger.png" alt="" class="" />
  </div>
  <div
    class="absolute right-0 w-xl h-screen border-l border-l-blue-700 md:w-md max-sm:static flex-2/4"
  >
    <div class="h-screen flex flex-col items-center justify-between">
      <div class="my-3">
        <img
          src="/img/ford.png"
          alt=""
          class="w-3xs md:w-[12rem] max-sm:w-2xs"
        />
      </div>
      <div class="w-full px-12">
        <form class="flex flex-col" (ngSubmit)="onSubmit()">
          <h2
            class="bg-linear-to-t from-blue-900 to-blue-500 bg-clip-text text-5xl text-center font-extrabold text-transparent"
          >
            Bem vindo
          </h2>
          <label class="text-sm py-2.5 font-medium text-blue-700">
            Usuario
          </label>
          <input
            type="text"
            [(ngModel)]="nome"
            name="usuario"
            placeholder=""
            class="bg-white outline-0 p-2 rounded-sm border border-slate-950/50 focus:border-blue-700"
          />
          <label class="text-sm py-2.5 font-medium text-blue-700">Senha</label>
          <input
            type="password"
            [(ngModel)]="senha"
            name="senha"
            placeholder=""
            class="bg-white outline-0 p-2 rounded-sm border border-slate-950/50 focus:border-blue-700"
          />
          <div class="flex items-center gap-2 justify-end">
            <label for="" class="text-sm py-2.5 font-medium text-blue-700"
              >Login automatico</label
            >
            <input type="checkbox" name="" id="" />
          </div>
          <button
            type="submit"
            class="my-7 p-2.5 rounded-sm shadow-xl/20 text-zinc-200 font-semibold bg-blue-700 cursor-pointer"
          >
            Login
          </button>
        </form>
      </div>
      <div class="my-3">
        <p class="text-blue-700">&copy;2025 todos direitos reservados</p>
      </div>
    </div>
  </div>
</div>
