<div class="relative min-h-screen flex">
  <aside
    class="fixed inset-y-0 left-0 z-50 bg-blue-700 text-white transition-all duration-300 ease-in-out overflow-hidden"
    [ngClass]="{ 'w-16': !isSidebarExpanded, 'w-72': isSidebarExpanded }"
  >
    <div
      class="p-4 relative"
      [ngClass]="{
        'flex justify-center': !isSidebarExpanded,
        'flex justify-between items-center': isSidebarExpanded
      }"
    >
      <button
        *ngIf="!isSidebarExpanded"
        (click)="toggleSidebar()"
        class="text-white focus:outline-none"
      >
        <ng-icon name="heroBars3" class="h-12 w-12"></ng-icon>
      </button>

      <button
        *ngIf="isSidebarExpanded"
        (click)="toggleSidebar()"
        class="text-white focus:outline-none absolute top-4 right-4"
      >
        <ng-icon name="heroXMark" class="h-7 w-7"></ng-icon>
      </button>

      <span *ngIf="isSidebarExpanded" class="text-lg font-semibold ml-2"
        >Menu</span
      >
    </div>

    <nav class="mt-8">
      <ul>
        <li>
          <a
            routerLink="consultar-carros"
            routerLinkActive="bg-gray-200 text-blue-700"
            class="flex items-center py-2 px-4 mx-2 rounded-lg text-white hover:bg-gray-200 hover:text-blue-700 group transition-colors duration-200"
          >
            <ng-icon name="heroMagnifyingGlass" class="h-7 w-7"></ng-icon>
            <span *ngIf="isSidebarExpanded" class="ml-3">Consultar Carros</span>
          </a>
        </li>
        <li>
          <a
            routerLink="teste-drive"
            routerLinkActive="bg-gray-200 text-blue-700"
            class="flex items-center py-2 px-4 mx-2 mt-2 rounded-lg text-white hover:bg-gray-200 hover:text-blue-700 group transition-colors duration-200"
          >
            <ng-icon name="heroDocumentCheck" class="h-7 w-7"></ng-icon>
            <span *ngIf="isSidebarExpanded" class="ml-3 whitespace-nowrap"
              >Teste Drive</span
            >
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main
    class="flex-1 p-6 transition-all duration-300 ease-in-out"
    [ngClass]="{ 'ml-16': !isSidebarExpanded, 'ml-72': isSidebarExpanded }"
  >
    <router-outlet></router-outlet>
  </main>
</div>
